* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #333;
    flex-direction: column;
}

.card {
    cursor: pointer;
    height: 168px;
}

.card-image {
    width: 300px;
    height: auto;
    position: absolute;
}

.card-info {
    width: 300px;
    height: 170px;
    position: absolute;
    background-color: #EFEFEF;
    padding: 20px;
    opacity: 0;
}

.card-info > h2 {
    margin-bottom: 20px;
}

.card-info .view-button {
    width: 100px;
    border: none;
    background-color: #5fa551;
    color:#EFEFEF;
    padding: 10px;
    border-radius: 2px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    cursor: pointer;
}

.card-info .delete-button {
    width: 75px;
    border: none;
    background-color: #a1a1a1;
    color:#EFEFEF;
    padding: 10px;
    border-radius: 2px;
    left: 20px;
    bottom: 20px;
    position: absolute;
    cursor: pointer;
}

.card:hover .card-info {
    opacity: 1;
    transition: 0.5s;
}

.card .card-info {
    opacity: 0;
    transition: 0.5s;
}

.grid {
    margin-top: 20px;
    margin-left: 50px;
    width: auto;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: center;
}

.grid-item {
    display: flex;
    width: 300px;
}

.owl-position {
    margin-top: 75px;
}